/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

/* Example of extending a given magpie-style */

/*.magpie-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */
.magpie-view-stimulus-container {
    height: 0px;
}
.magpie-view-text{
    text-align:justify;
                 }
    /* Display all titles in red */
    /*.magpie-view-title {
    color: red;
}*/
    /* Example of declaring your own style */
    .custom-border {
   border: 1px solid powderblue;
}
#consentbox {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    line-height: 27px;
    font-family: "Lato", "Noto Sans", sans-serif;
    margin: 0 auto;
    max-width: 550px;
}
#consent {
    height: 20px;
    width: 20px;
}